<h1>Édition d'un Pokemon</h1>

<%= render partial: 'form', locals: {submit: 'Modifier'} %> <!-- Préférer l'internationalisation pour le nom du bouton -->

<%= link_to 'Liste des Pokemons', pokemons_path, class: 'btn btn-primary' %>
